<h1>IPL PLAYERS LIST</h1>
    <div class="player-grid">
        <div class="card">
            <img src="assets/Players/vk.jpg" alt="Virat Kohli">
            <div class="card-body">
                <div class="player-name">Virat Kohli</div>
            </div>
        </div>
        <div class="card">
            <img src="assets/Players/rs.png" alt="Rohit Sharma">
            <div class="card-body">
                <div class="player-name">Rohit Sharma</div>
            </div>
        </div>
        <div class="card">
            <img src="assets/Players/ms.png" alt="MS Dhoni">
            <div class="card-body">
                <div class="player-name">MS Dhoni</div>
            </div>
        </div>
        <div class="card">
            <img src="assets/Players/hp.png" alt="Hardik Pandya">
            <div class="card-body">
                <div class="player-name">Hardik Pandya</div>
            </div>
        </div>
        <div class="card">
            <img src="assets/Players/jb.png" alt="Jasprit Bumrah">
            <div class="card-body">
                <div class="player-name">Jasprit Bumrah</div>
            </div>
        </div>
        <div class="card">
            <img src="assets/Players/rp1.png" alt="Rishabh Pant">
            <div class="card-body">
                <div class="player-name">Rishabh Pant</div>
            </div>
        </div>
        <div class="card">
            <img src="assets/Players/as.png" alt="Abhishek Sharma">
            <div class="card-body">
                <div class="player-name">Abhishek Sharma</div>
            </div>
        </div>
        <div class="card">
            <img src="assets/Players/ik.png" alt="Kishan">
            <div class="card-body">
                <div class="player-name">Ishant kishan</div>
            </div>
        </div>
        <div class="card">
            <img src="assets/Players/th.png" alt="Head">
            <div class="card-body">
                <div class="player-name">Travis Head</div>
            </div>
        </div>
        <div class="card">
            <img src="assets/Players/nkr.png" alt="NKR">
            <div class="card-body">
                <div class="player-name">Nitish Kumar Reddy</div>
            </div>
        </div>
        <div class="card">
            <img src="assets/Players/hk.png" alt="Klassen">
            <div class="card-body">
                <div class="player-name">Klassen</div>
            </div>
        </div>
        <div class="card">
            <img src="assets/Players/bk.png" alt="Bhuvi">
            <div class="card-body">
                <div class="player-name">Bhuvi</div>
            </div>
        </div>
        <div class="card">
            <img src="assets/Players/pc.png" alt="Cummins">
            <div class="card-body">
                <div class="player-name">Cummins</div>
            </div>
        </div>
        <div class="card">
            <img src="assets/Players/sg.png" alt="Gill">
            <div class="card-body">
                <div class="player-name">Shubman Gill</div>
            </div>
        </div>
        <div class="card">
            <img src="assets/Players/kl.png" alt="Rahul">
            <div class="card-body">
                <div class="player-name">KL Rahul</div>
            </div>
        </div>
    </div>