
<section class="login">
    <div class="login-container">
      <img src="assets/Home/ipllogin.png" alt="IPL Fanpage Logo" class="logo-img" />
      <h2>IPL Fanpage Sign Up</h2>
      <form>
        <input type="text" placeholder="Username" required />
        <input type="email" placeholder="Email" required />
        <input type="password" placeholder="Password" required />
        <input type="password" placeholder="Confirm Password" required />
        <button type="submit">Sign Up</button>
      </form>
      <p>Already a member? <a href="login">Login</a></p>
    </div>
  </section>
  