<section class="teams">
    <h2>IPL Teams</h2>
    <div class="teams-container">
      <div class="team-card">
        <img src="assets/Home/mumbai.png" alt="Mumbai Indians">
        <h3>Mumbai Indians</h3>
      </div>
      <div class="team-card">
        <img src="assets/Home/csk.png" alt="Chennai Super Kings">
        <h3>Chennai Super Kings</h3>
      </div>
      <div class="team-card">
        <img src="assets/Home/kkr.png" alt="Kolkata Knight Riders">
        <h3>Kolkata Knight Riders</h3>
      </div>
      <div class="team-card">
        <img src="assets/Home/srh.png" alt="Sunrisers Hyderabad">
        <h3>Sunrisers Hyderabad</h3>
      </div>
      <div class="team-card">
        <img src="assets/Home/rr.png" alt="Rajasthan Royals">
        <h3>Rajasthan Royals</h3>
      </div>
      <div class="team-card">
        <img src="assets/Home/gt.png" alt="Gujarat Titans">
        <h3>Gujarat Titans</h3>
      </div>
      <div class="team-card">
        <img src="assets/Home/dc.png" alt="Delhi Capitals">
        <h3>Delhi Capitals</h3>
      </div>
      <div class="team-card">
        <img src="assets/Home/pbks.png" alt="Punjab Kings">
        <h3>Punjab Kings</h3>
      </div>
      <div class="team-card">
        <img src="assets/Home/lsg.png" alt="Punjab Kings">
        <h3>Lucknow super giants</h3>
      </div>
      <div class="team-card">
        <img src="assets/Home/rcb.png" alt="Punjab Kings">
        <h3>Royal Challengers Bengaluru</h3>
      </div>
    </div>
  </section>
  